<article class="post">
    <div class="post-head">
        <div class="title">
            <a href="/post/{{id}}">{{title}}</a>
        </div>
        <div>
            <h6>Posted by {{user.username}} on {{format_date created_t}}</h6>
            <p>{{post_text}}</p>
        </div>
    </div>
</article>